<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Post.Title}}</title>
</head>
<body>

    <a href="/">← Back to Feed</a>
    <h1>{{.Post.Title}}</h1>
    {{if .Post.IsPrivate}}
        <p>Private Post</p>
    {{else}}
        <p>Public Post</p>
    {{end}}

    <p>Created at: {{.Post.CreatedAt}}</p>

    {{if .Post.Image}}
        <img
            src="{{.Post.Image}}"
            alt="{{.Post.Title}}"
            style="max-width: 600px;"
        >
    {{end}}

    <hr>
    <div>
        <p>{{.Post.Content}}</p>
    </div>
        <hr>
    <h2>Comments</h2>

    {{range .Comments}}
        <div>
            <p>{{.Content}}</p>
            <small>
                Author ID: {{.AuthorID}} |
                {{.CreatedAt}}
            </small>
        </div>
        <hr>
    {{else}}
        <p>No comments yet.</p>
    {{end}}

    <hr>
    <h2>Add Comment</h2>
    <form action="/weblog/{{.Post.ID}}/comments" method="POST">
        <div>
            <textarea
                name="content"
                rows="5"
                cols="60"
                placeholder="Write your comment..."
                required
            ></textarea>
        </div>

        <br>

        <button type="submit">Add Comment</button>
    </form>

    {{if .IsOwner}}
        {{if .Post.IsPrivate}}
            <hr>

            <h2>Share this post</h2>

            <form action="/weblog/{{.Post.ID}}/access" method="POST">
                <label for="username">Username:</label>

                <input
                    type="text"
                    id="username"
                    name="username"
                    required
                >

                <button type="submit">
                    Share
                </button>
            </form>
        {{end}}
    {{end}}

</body>
</html>